@font-face {
  font-family: "QuickDraw"; /* Choose a name for your font */
  src: url('./IBMPlexMono-Medium.ttf') format('truetype');
}

body {
  background-color: #E3DFFF;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 16px;
  color: #000000;
  font-family: "QuickDraw";
  text-align: center;
  list-style-position: inside;
  align-items: center;
  justify-content: center;
}

.row {
  display: flex; 
  align-items: start; 
  justify-content: center; 
  width: 100vw;
  height: 100vh;
}

.heading {
  font-size: 16pt; 
  text-align: center; 
  margin-top: 10px;
}

.subheading {
  font-size: 12pt;
  color: rgb(226, 43, 43);
}

.checkbox-container {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  margin-right: 15px;
  cursor: pointer;
}

.checkbox-container input {
  display: none;
}

.custom-checkbox {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border: 2px solid #a091ff;
  border-radius: 3px;
}

.custom-checkbox:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-container input:checked + .custom-checkbox:after {
  display: block;
  content: "\2713"; 
  font-size: 16px;
  top: 2px;
  left: 5px;
  color: #a091ff;
}

.checkbox-label {
  font-size: 16px;
}

.row-radios{
  justify-content: center; 
  margin-top: 10px;
  height: fit-content;
}

.column-left {
  width: 15%;
  height: 100%;
}

.column-middle {
  width: 70%;
  height: 100%;
}

.column-right {
  width: 15%;
  height: 100%;
}

.flexcontainer {
  display: flex;
  height: 10%;
  justify-content: left;
}

img {
  max-width: 95%;
  max-height: 95%;
}

.btn {
  position: relative;
  width: auto;
  display: inline-block;
  color: #000000;
  text-decoration: none;
  border-radius: 5px;
  border: solid 1px #92977E;
  background: #EADDA6;
  text-align: center;
  padding: 8px 8px 8px 8px;
  margin: 12px;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  transition: all 0.1s;
  -webkit-box-shadow: 0px 6px 0px #ffffff;
  -moz-box-shadow: 0px 6px 0px #92977E;
  text-transform: uppercase;
  font-size: 15pt;
  font-weight: bold;
  box-shadow: 0px 6px 0px #d3c793;
  cursor: pointer;
  font-family: 'QuickDraw';
}


.btn:active {
  -webkit-box-shadow: 0px 2px 0px;
  background: #EADDA6;
  -moz-box-shadow: 0px 2px 0px;   
  box-shadow: 0px 5px 0px;   
  position: relative;
  top: 4px;
}

.dropbtn {
  width: auto;
  color: #ecf0f1;
  text-decoration: none;
  border-radius: 5px;
  border: solid 1px #FEFCAD;
  background: #FEFCAD;
  text-align: center;
  padding: 8px 8px 7px;
  margin: 12px;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  transition: all 0.1s;
  -webkit-box-shadow: 0px 6px 0px #e9da11;
  -moz-box-shadow: 0px 6px 0px #92977E;
  text-transform: uppercase;
  font-size: 15pt;
  font-weight: bold;
  box-shadow: 0px 6px 0px #92977E;
  cursor: pointer;}

.dropbtn:active {
  -webkit-box-shadow: 0px 2px 0px #92977E;
  -moz-box-shadow: 0px 2px 0px #92977E;
  box-shadow: 0px 3px 0px #92977E;
  position: relative;
  top: 4px;
}

.show {
  display: block;
}

#element-container {
  display: flex;
  flex-direction: column;
}

#start-container {
  justify-content: center; 
  display: flex; 
  margin-left: auto; 
  margin-right: 0;
}

#prediction-wrapper {
  margin: 15px;
  border: 2px solid rgb(0, 0, 0);
  word-wrap: break-word;
  font-family: 'QuickDraw';
}

#chatbot-container {
  margin: 15px;
  padding: 20px 0;
}

.chatbot-button {
  position: relative;
  width: auto;
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
  border: solid 1px #EADDA6;
  background: #E6E18F;
  text-align: center;
  padding: 2px 3px 2px;
  margin: 5px;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  transition: all 0.1s;
  -webkit-box-shadow: 0px 6px 0px #E6E18F;
  -moz-box-shadow: 0px 6px 0px #92977E;
  text-transform: uppercase;
  font-size: 10pt;
  font-weight: bold;
  box-shadow: 0px 6px 0px #92977E;
  cursor: pointer;
  font-family: 'QuickDraw';
}

.chatbot-button:active {
  -webkit-box-shadow: 0px 2px 0px #92977E;
  -moz-box-shadow: 0px 2px 0px #92977E;
  box-shadow: 0px 2px 0px #92977E;
  position: relative;
  top: 4px;
}

#timer {
  color:#a091ff;
  font-size: 16pt; 
  margin: 8px 8px 8px 8px;
  background-color: white; 
  border: 3px solid #000000;
  border-radius: 3px;
  display: flex;
  align-items: center;
}


#sceneDescription {
  font-size: 18px;  
  display: flex; 
  width: 90%;
}

#canvas-wrapper {
  border: 5px solid #000000;
  height: 90%; 
  user-select: none; 
  background-color: white;
  display: block;
}


#sketch-predictions{
  display: inline-block;
  align-items: center;
  flex-direction: column;
}

#dropdown {
  background-color: #00000033;
  font-size: 12px;
  width: 80%;
  color: black;
  text-decoration: none;
  border-radius: 5px;
  border: solid 1px #a091ff;
  text-align: center;
  padding: 10px 10px 10px;
  margin: 12px;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  transition: all 0.1s;
  -webkit-box-shadow: 0px 6px 0px #fefcad;
  -moz-box-shadow: 0px 6px 0px #a091ff;
  text-transform: uppercase;
  font-size: 15pt;
  font-weight: bold;
  box-shadow: 0px 5px 0px #92977E;
  cursor: pointer;
  overflow-y: scroll;
  max-height: 490px;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.dropdown-item {
  display: block;
  font-size: 12px;
  text-decoration: none;
  text-align: center;
  color: black;
  font-family: "QuickDraw";
  margin-top: 2px;
}

.dropdown-item:hover {
  background-color: #a091ff;
}

#input {
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
}


#labelname {
  max-width: 100px;
  margin-bottom: 0px; 
  background-color: #ffffff;
  font-size: 12px;
  position: relative;
  width: auto;
  color: rgb(0, 0, 0);
  text-decoration: none;
  border-radius: 5px;
  border: solid 1px #a091ff;
  text-align: center;
  padding: 8px 8px 7px;
  margin: 12px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'QuickDraw';
}

#dropdown_wrapper {
  display: block; 
  justify-content: center;

}
#categoryname {
  max-width: 100px;
  margin-bottom: 0px; 
  background-color: #ffffff;
  font-size: 12px;
  position: relative;
  width: auto;
  color: rgb(0, 0, 0);
  text-decoration: none;
  border-radius: 5px;
  border: solid 1px #a091ff;
  text-align: center;
  padding: 8px 8px 7px;
  margin: 12px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'QuickDraw';
}

#p {
  text-align: center;
  font-size: 60px;
  margin-top: 0px;
}

html, body {
  overflow-y: hidden;
  overflow-x: hidden;
  font-family: "QuickDraw";
}



/* ---------------Animation---------------- */

.slit-in-vertical {
	-webkit-animation: slit-in-vertical 0.45s ease-out both;
	        animation: slit-in-vertical 0.45s ease-out both;
}

@-webkit-keyframes slit-in-vertical {
  0% {
    -webkit-transform: translateZ(-800px) rotateY(90deg);
            transform: translateZ(-800px) rotateY(90deg);
    opacity: 0;
  }
  54% {
    -webkit-transform: translateZ(-160px) rotateY(87deg);
            transform: translateZ(-160px) rotateY(87deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(0) rotateY(0);
            transform: translateZ(0) rotateY(0);
  }
}
@keyframes slit-in-vertical {
  0% {
    -webkit-transform: translateZ(-800px) rotateY(90deg);
            transform: translateZ(-800px) rotateY(90deg);
    opacity: 0;
  }
  54% {
    -webkit-transform: translateZ(-160px) rotateY(87deg);
            transform: translateZ(-160px) rotateY(87deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(0) rotateY(0);
            transform: translateZ(0) rotateY(0);
  }
}

/*---------------#region Alert--------------- */

#dialogoverlay{
  display: none;
  opacity: .8;
  position: fixed;
  top: 0px;
  left: 0px;
  background: #707070;
  width: 100%;
  z-index: 10;
}

#dialogbox{
  display: none;
  position: absolute;
  background: #E6E18F;
  border-radius:7px; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.575);
  transition: 0.3s;
  width: 40%;
  z-index: 10;
  top:0;
  left: 0;
  right: 0;
  margin: auto;
}

#dialogbox:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.911);
}

.container {
  padding: 2px 16px;
}

.pure-material-button-contained {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  padding: 0 16px;
  min-width: 64px;
  height: 36px;
  vertical-align: middle;
  text-align: center;
  text-overflow: ellipsis;
  text-transform: uppercase;
  color: rgb(var(--pure-material-onprimary-rgb, 0, 0, 0));
  background-color: #92977E;
  /* background-color:  */
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  font-family: "QuickDraw";
  font-size: 14px;
  font-weight: 500;
  line-height: 36px;
  overflow: hidden;
  outline: none;
  cursor: pointer;
  transition: box-shadow 0.2s;
}

.pure-material-button-contained::-moz-focus-inner {
  border: none;
}

.pure-material-button-contained::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
  opacity: 0;
  transition: opacity 0.2s;
}

/* Ripple */
.pure-material-button-contained::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  padding: 50%;
  width: 32px; /* Safari */
  height: 32px; /* Safari */
  background-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
  opacity: 0;
  transform: translate(-50%, -50%) scale(1);
  transition: opacity 1s, transform 0.5s;
}

/* Hover, Focus */
.pure-material-button-contained:hover,
.pure-material-button-contained:focus {
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.pure-material-button-contained:hover::before {
  opacity: 0.08;
}

.pure-material-button-contained:focus::before {
  opacity: 0.24;
}

.pure-material-button-contained:hover:focus::before {
  opacity: 0.3;
}

/* Active */
.pure-material-button-contained:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.pure-material-button-contained:active::after {
  opacity: 0.32;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0s;
}

/* Disabled */
.pure-material-button-contained:disabled {
  color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
  background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.12);
  box-shadow: none;
  cursor: initial;
}

.pure-material-button-contained:disabled::before {
  opacity: 0;
}

.pure-material-button-contained:disabled::after {
  opacity: 0;
}

#dialogbox > div{ 
  margin:8px; 
}

#dialogbox > div > #dialogboxhead{ 
  background: #e6e18f; 
  font-size:19px; 
  padding:10px; 
  color:rgb(0, 0, 0); 
  font-family: "QuickDraw";
}

#dialogbox > div > #dialogboxbody{ 
  background: #e6e18f; 
  padding:20px; 
  color:#000000; 
  font-family: "QuickDraw";
}

#dialogbox > div > #dialogboxfoot{ 
  background: #e6e18f; 
  padding:10px; 
  text-align:right; 
}
/*#endregion Alert*/


.bln {
  appearance: none;
  position: relative;
  width: auto;
  display: inline-block;
  color: #000000;
  text-decoration: none;
  border-radius: 5px;
  border: solid 1px #92977E;
  background: #EADDA6;
  text-align: center;
  padding: 8px 8px 8px 8px;
  margin: 5px 40px 5px 40px;
 
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  transition: all 0.1s;
  -webkit-box-shadow: 0px 6px 0px #ffffff;
  -moz-box-shadow: 0px 6px 0px #92977E;
  text-transform: uppercase;
  font-size: 15pt;
  font-weight: bold;
  box-shadow: 0px 3px 0px #d3c793;
  cursor: pointer;
  font-family: 'QuickDraw';
}

.bln:hover {
  color: #654eff;
}

.btn:hover {
  color: #654eff;
}


